{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Game</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">
    <link href="{% static "css/game-page.css" %}" rel="stylesheet">
    <link href="{% static "css/wait-page.css" %}" rel="stylesheet">
    <link href="{% static "css/arena.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Rules</a>
                    </li>
                    <li>
                        <a href="/game/exit/">Exit</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class = "intro-header" style = "width:100% ; height : 1000px" id="makegrid">
    <div class = "active_players" id = "active_player_info">
    </div>
    <div class = "your_score" id = "your_score">
    <h2> Your Score </h2>
    </div>
    </div>
    <div id = "final_result" class = "final_res">
    <div style = "text-align:center"> <h2> Final Score </h2> </div>
    <div id="your_result" style = "text-align:center ; color:red"> <h2> You Win </h2> </div>
    <div id="score_display"></div>
    <div id = "winner" style = "margin-left:20% ; margin-top:5%"></div>
    <div id = "note" style = "margin-left:5% ; margin-top:5% ; color:red; display:none">* Click on home or Exit button to start a new game or join an existing game</div>
    </div>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/makegrid.js?<?=time()?>" %}"></script>
    <div class="modal">
</body>

</html>