{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Game</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">
    <link href="{% static "css/game-page.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Rules</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Multiplayer Battle</h1>
                        <h3>A game all about reaction time</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <button class="btn btn-default btn-lg" id="begingame"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Start Game</span></button>
                            </li>
                            <li>
                                <a href="/game/joingame" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Join Game</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!--Modal for New Game starts here -->
    <div class="modal fade" id="newGame" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" style = "color:white" data-dismiss="modal">&times;</button>
          <h4>Start A New Game</h4>
        </div>
        <div class="modal-body">
        <form action = "/game/startgame/" method= "POST">
            
            <h4> Enter your name : </h4>
            <input type = "text" class = "form-control" name="player_name" required>
        </div>
        <div class="modal-body">
          <h4>Select Grid Size : </h4>
          <label>
            <input type="radio" value=4 name="grid_size" required />&nbsp;4 X 4</label>
        <br>
          <label>
            <input type="radio" value=5 name="grid_size" required />&nbsp;5 X 5</label>
        <br>
          <label>
            <input type="radio" value=6 name="grid_size" required />&nbsp;6 X 6</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-lg" >Start Game</button>
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>


    <!--Modal for New Game starts here -->    

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/game.js" %}"></script>
</body>

</html>
